@font-face {
    font-family: 'Mona-Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Mona-Sans'), url('Mona-Sans-RegularWide.woff') format('woff');
}
.content-area {
    padding: 0 60px;
    padding-top: 30px;
    padding-bottom: 80px;
    margin: 0;
}
.content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    font-family: Mona-Sans;
    font-size: 24px;
    font-weight: 300;
    line-height: 41.83px;

}
ul li:first-child {
    font-weight: 700;
    color: #4169E1;
}
.links {
    display: flex;
}
.content p {
    font-family: Mona-Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 30.94px;
}
.newsletter {
    text-align: center;
    font-family: Mona-Sans;
    font-size: 40px;
    font-weight: 500;
    line-height: 69.71px;

}
.subscribe{
    border-radius: 9px;
    box-shadow: 0px 1px 19.2px 0px #00000021;

}
.subscribe p {
    margin-left: auto;
    font-family: Mona-Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 41.83px;
    background-color: #4169E1;
    color: white;
    border-radius: 9px;
    padding: 10px 30px;
    width: fit-content;

}